[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "devops/docs/Doxygen-Dark-Theme"]
	path = devops/docs/Doxygen-Dark-Theme
	url = git@github.com:AnthonyNauman/Doxygen-Dark-Theme.git
[submodule "devops/docs/Doxygen-Flat-Theme"]
	path = devops/docs/Doxygen-Flat-Theme
	url = git@github.com:AnthonyNauman/Doxygen-Flat-Theme.git
[submodule "libs/nlohmann_json"]
	path = libs/nlohmann_json
	url = git@github.com:nlohmann/json.git
